.stat-item-container {
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 10px;
}
.stat-item-label {
    text-align: center;
}

.stats-container {
    display: flex;
    gap: 10px;
    justify-content: center; 
}