.page-container {
    padding: 0px 20px 0px 20px;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.parchment {
    background-image: url(parchment.jpeg);
    color: black;
}

.stat-item-container {
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 10px;
}

.stat-item-label {
    text-align: center;
}

.stats-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.basics {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
}

.senses-container-label {
    text-align: center;
}

.senses-container {
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
}

.health-points-label {
    text-align: center;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
}

.health-points-container {
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.health-points-item {
    font-size: 30px;
}

.armor-class-label {
    text-align: center;
    font-family: 'Kaushan Script', cursive;

}

.armor-class-container {
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.armor-class-item {
    font-size: 30px;
}

.hp-ac-container {
    display: flex;
    flex-direction: column;
}

.characteristics-descrip-label {
    text-align: center;
}

.characteristics-descrip-container {
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;

}

.characteristics-descrip-item {
    text-align: center;
}

.specifics {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profiencies-container {
    text-align: center;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
}

.profiencies-label {
    text-align: center;
}

.h3,
h4,
h5 {
    font-size: 25px;
    font-weight: bold;
}


.skills-container {
    text-align: center;
    font-size: 20px;
    font-family: "Kaushan Script", cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
}

.general-info-label {
    text-align: center;
}

.general-info-container {
    font-size: 15px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
}

.work-info-label {
    text-align: center;
}

.work-info-container {
    font-size: 15px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
}

.background-info-label {
    text-align: center;
}

.background-info-container {
    font-size: 15px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 700px) {
    .page-container {
        padding: 0px 35px 0px 35px;
    }

    .stats-container {
        padding: 10px 20px 10px 20px;
    }

    .senses-container {
        font-size: 20px;
        text-align: center;
    }

    .basics,
    .specifics {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    .profiencies-container,
    .skills-container {
        flex-basis: calc(50% - 10px);
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1024px) {
    .page-container {
        padding: 0px 50px 0px 50px;
    }

    .senses-container-info {
        font-size: 20px;
    }

    .basics {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        padding: ;
    }

    .hp-ac-container {
        display: flex;
        justify-content: space-between;
    }

    .specifics {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

    }