.stat-item-container {
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 10px;
}
.stat-item-label {
    text-align: center;
}

.stats-container {
    display: flex;
    gap: 10px;
    justify-content: center; 
}
.hero {
    display: flex;
    justify-content: space-between;
}

.basics {
    display: flex;
    justify-content: space-between;
}

.senses-container-label {
    text-align: left;
}
.senses-container {
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
}

.health-points-label {
    text-align: center;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
}

.health-points-container {
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.armor-class-label {
    text-align: center;
    font-family: 'Kaushan Script', cursive;

}

.armor-class-container {
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hp-ac-container {
    display: flex;
    flex-direction: column;
}

.characteristics-descrip-label {
    text-align: right;
}

.characteristics-descrip-container {
    font-size: 10px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;

}

.characteristics-descrip-item {
    text-align: center;    
}

.specifics {
    display: flex;
    justify-content: space-between;
}

.profiencies-container {
    font-size: 10px;
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
}



.skills-container {
    font-size: 10px;
    font-family: "Kaushan Script", cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
}

.general-info-container {
    
    font-family: 'Kaushan Script', cursive;
    border: solid 2px black;
    padding: 10px 20px 10px 10px;
    display: flex;
}